/* Main/General Styling */
body { 
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #f6eee3; /* Off-white backdrop */
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: darkolivegreen;
}

header::after {
    content: '';
    display: table;
    content: both;
}

.logo {
    width: 100px;
    height: 100px;
    padding: auto 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 40px;

    position: relative;
}

nav a{
    color: #f6eee3;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #333;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #333;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

#room {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.shelf {
    display: block;
    z-index: 9;
    content: url("https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1996003/basic-wood-wall-shelf-clipart-md.png");
    position: relative;
    width: 500px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

/* .stuffonshelf {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 10;
    margin-bottom: -80px;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
} */

/* .example { 
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: magenta;
} */

#shelf1 { 
    padding-right: 500px;
    top: 40px;
}

#shelf2 { 
    padding-left: 500px;
    top: 25px;
}

#shelf3 { 
    padding-right: 500px;
    top: 15px;
}

/* #shelf4 { 
    padding-left: 500px;
    top: 400px;
} */

.picture {
    position: absolute;
    top: -40px; /* Adjust the vertical position as needed */
    left: 67%; /* Center the image horizontally */
    transform: translateX(-50%);
    width: 500px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the image's aspect ratio */
    z-index: 2; /* Place it above the shelves */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.picture:hover {
    transform: translateX(-50%) scale(1.1); /* Increase the size on hover */
}

.shelf-text {
    position: absolute;
    top: 1px; 
    left: 7%; /* Adjust the left position to match the corresponding shelf */
    color: #333; /* Text color */
    font-size: 45px; /* Adjust the font size as needed */
    /* font-weight: 10; */
}

.resume{
    width: 100px;
    height: auto;
}

#content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}

.social-icons {
    position: fixed;
    bottom: 20px;
    left: 50%; /* Center the icons horizontally */
    transform: translateX(-50%);
    display: flex;
}

.social-icons a {
    margin-right: 50px; 
    text-decoration: none;
}

.social-icons img {
    width: 50px; 
    height: 50px; 
    transition: transform 0.3s ease; 
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

