body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6eee3;
    min-width: 350px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    min-width: 350px;
    /* padding: 10px;  */
}

header {
    background: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header::after {
    content: '';
    display: table;
    content: both;
}

.logo {
    width: 100px;
    height: 100px;
    /* padding: auto 0; */
}

nav {
    float: right;
    align-items: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 5vw;
    padding-top: 5vh;
    position: relative;
    font-size: 1.25em;
}

nav a{
    color: #f6eee3;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #333;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

#room {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.shelf {
    /* display: block; */
    z-index: 3;
    content: url("https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1996003/basic-wood-wall-shelf-clipart-md.png");
    position: relative;
    /* max-width: 500px; */
    min-width: 100px;
    height: auto;
    width: 35%;
    margin: 10px auto;
}

#shelf1, #shelf2, #shelf3 {
    position: absolute;
}

#shelf1 { 
    left: 15%;
    top: 18%;
}

#shelf2 { 
    right: 15%;
    top: 30%;
}

#shelf3 { 
    left: 15%;
    top: 50%;
}

/* Items on shelves */
.plant1, .headphones, .plant2, .books, .digital-clock-container, .resume, .picture, .golf-clubs {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    /* max-width: 100%; */
}

.plant1 {
    left: 15%; 
    top: 10%;
    width: 40%; 
}

.headphones {
    top: 10%; 
    left: 15%; 
    width: 25%; 
    transform: rotate(90deg);
}

.headphones:hover {
    transform: rotate(90deg) scale(1.1); 
}


.plant2 {
    right: 20%;
    top: 16%;
    width: 13%; 
}

.books {
    top: 42%; 
    left: 18%; 
    width: 20%;
    transition: transform 0.3s ease; 
}

.books:hover {
    transform: scale(1.1); 
}

.digital-clock-container {
    top: 50%;
    left: 35%;
    transform: translateX(-50%, -50%);
    z-index: 6; 
}

.clock-case {
    background-color: #d4c8ba; 
    border-radius: 15px;
    padding: 1vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.clock-case::before {
    content: '';
    position: absolute;
    top: -0.5vw;
    left: -0.5vw;
    right: -0.5vw;
    bottom: -0.5vw;
    border-radius: 15px;
    background-color: #cc5500;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    z-index: -1;
}

.digital-clock {
    font-size: 2em;
    color: #333; 
}

.resume {
    top: 50%;
    left: 60%; 
    width: 20%; 
    transition: transform 0.3s ease; 
}

.resume:hover {
    transform: scale(1.1); 
}

.picture {
    top: -1vw;
    left: 68%; 
    transform: translateX(-50%);
    width: 35%; 
    transition: transform 0.3s ease; 
}

.picture:hover {
    transform: translateX(-50%) scale(1.1); 
}

.golf-clubs {
    bottom: -3vw; 
    left: -15vw; 
    width: 40vw; 
    height: auto;
    transition: transform 0.3s ease;
    pointer-events: all;
}

.golf-clubs:hover {
    transform: scale(1.05); 
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}

section {
    padding: 30px;
    background-color: #fff;
    margin: 20px 0;
    border: 2px solid #dfd2d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* About Me Styling */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    padding: 2%;
}

.frame {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.swiper {
    width: 60%;
    height: 80vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
}

#map-container h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
    color: #333;
}

#map {
    width: min(90vw, 900px);  /* responsive width */
    height: 400px;            /* you can tweak this */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

/* optional: a bit tighter on very small screens */
@media (max-width: 600px) {
    #map {
        height: 300px;
    }
}


.recommendation-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.recommendation-section h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

.recommendation-section form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.recommendation-section input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.recommendation-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.recommendation-section button:hover {
    background-color: #45a049;
}

#book-recommendations {
    list-style: none;
    padding: 0;
    margin: 0;
}

#book-recommendations li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-recommendations li:last-child {
    border-bottom: none;
}

.remove-button {
    background-color: #c80000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: rgb(173, 2, 2);
}

.projects-section {
    padding: 50px 20px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    text-align: left;
}

.project-card h2 {
    margin-top: 0;
}

.project-card p {
    margin: 10px 0;
}

.project-card a.project-link {
    color: darkolivegreen;
    text-decoration: none;
    font-weight: bold;
}

.project-card a.project-link:hover {
    text-decoration: underline;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #f6eee3;
    padding: 10px; 
}

.social-icons a {
    margin-right: 5vw; 
    text-decoration: none;
}

.social-icons img {
    width: 3vw; 
    height: auto; 
    margin-left: 2vw;
    transition: transform 0.3s ease; 
}

.social-icons img:hover {
    transform: scale(1.1); 
}


@media (min-width: 350px) and (max-width: 450px) {
    header {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column; 
    }
    
    nav li {
        margin: 10px 10px;
        font-size: 1em;
    }
    
    .container {
        width: 70%;
    }
    
    .digital-clock-container {
        font-size: .5em;
    }

    .plant1 {
        left: 15%; 
        top: 17%;
        width: 40%; 
    }
    
    .headphones {
        top: 17%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 27%;
        width: 13%; 
    }
    
    .books {
        top: 49%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 30%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 50%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}

@media (min-width: 450px) and (max-width: 550px) {
    header {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column; 
    }
    
    nav li {
        margin: 10px 10px;
        font-size: 1em;
    }

    .digital-clock-container {
        font-size: .5em;
    }

    .plant1 {
        left: 15%; 
        top: 16%;
        width: 40%; 
    }
    
    .headphones {
        top: 16%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 25%;
        width: 13%; 
    }
    
    .books {
        top: 48%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 30%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 50%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}

@media (min-width: 550px) and (max-width: 700px) {

    .digital-clock-container {
        font-size: .5em;
    }

    .plant1 {
        left: 15%; 
        top: 15%;
        width: 40%; 
    }
    
    .headphones {
        top: 15%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 24%;
        width: 13%; 
    }
    
    .books {
        top: 47%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 25%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 40%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}

@media (min-width: 700px) and (max-width: 900px) {

    .digital-clock-container {
        font-size: .75em;     }

    .plant1 {
        left: 15%; 
        top: 13%;
        width: 40%; 
    }
    
    .headphones {
        top: 13%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 22%;
        width: 13%; 
    }
    
    .books {
        top: 47%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 25%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 40%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}

@media (min-width: 901px) and (max-width: 1020px) {
    
    .digital-clock-container {
        font-size: .75em; 
    }

    .plant1 {
        left: 15%; 
        top: 13%;
        width: 40%; 
    }
    
    .headphones {
        top: 13%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 22%;
        width: 13%; 
    }
    
    .books {
        top: 47%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 25%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 40%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .digital-clock-container {
        font-size: 1em; 
    }

    .plant1 {
        left: 15%; 
        top: 13%;
        width: 40%; 
    }
    
    .headphones {
        top: 13%; 
        left: 15%; 
        width: 25%; 
        transform: rotate(90deg);
    }
    
    .plant2 {
        right: 20%;
        top: 20%;
        width: 13%; 
    }
    
    .books {
        top: 45%; 
        left: 18%; 
        width: 20%;
        transition: transform 0.3s ease; 
    }
    
    .resume {
        top: 50%;
        left: 60%; 
        width: 25%; 
        transition: transform 0.3s ease; 
    }
    
    .resume:hover {
        transform: scale(1.1); 
    }
    
    .picture {
        top: -1vw;
        left: 68%; 
        transform: translateX(-50%);
        width: 40%; 
        transition: transform 0.3s ease; 
    }
    
    .picture:hover {
        transform: translateX(-50%) scale(1.1); 
    }
}
