/* Main/General Styling */
body { 
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #f6eee3; /* Off-white backdrop */
    /* overflow: hidden;  */
}

.container {
    width: 80%;
    margin: 0 auto;
    /* padding: 10px;  */
}

header {
    background: darkolivegreen;
}

header::after {
    content: '';
    display: table;
    content: both;
}

.logo {
    width: 100px;
    height: 100px;
    padding: auto 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 40px;

    position: relative;
}

nav a{
    color: #f6eee3;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #333;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #333;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

#room {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.shelf {
    display: block;
    z-index: 4;
    content: url("https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1996003/basic-wood-wall-shelf-clipart-md.png");
    position: relative;
    width: 500px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

.digital-clock-container {
    position: absolute;
    bottom: 380px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 6; /* Place it above the shelves */
}

.clock-case {
    position: relative;
    background-color: #d4c8ba; /* Case color */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.clock-case::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 15px;
    background-color: #cc5500;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle 3D effect */
    z-index: -1;
}

.digital-clock {
    font-size: 2em;
    color: #333; /* Text color */
}

#shelf1 { 
    padding-right: 500px;
    top: 40px;
}

/* knitted pot */
.plant1 {
    position: absolute;
    top: -30px; 
    left: 125px; 
    width: 550px; 
    height: auto; 
    z-index: 5; 
    margin-left: auto;
    margin-right: auto;
}

#shelf2 { 
    padding-left: 500px;
    top: 25px;
}

/* Steel pot */
.plant2 {
    position: fixed;
    top: 195px; /* Adjust the vertical position from the bottom */
    right: 350px; 
    width: 175px; 
    height: auto; 
    z-index: 5; 
}

.headphones {
    position: fixed;
    top: 230px; /* Adjust the vertical position from the bottom */
    right: 450px; 
    width: 350px; 
    height: auto; 
    z-index: 6; 
    transform: rotate(90deg);
}

#shelf3 { 
    padding-right: 500px;
    top: 15px;
}

.books {
    position: fixed;
    bottom: 230px; /* Adjust the vertical position from the bottom */
    left: 450px; 
    width: 300px; 
    height: auto; 
    z-index: 5; 
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.books:hover {
    transform: scale(1.1); 
}

.resume {
    position: absolute;
    bottom: 250px; /* Adjust the vertical position from the bottom */
    right: 400px; /* Adjust the horizontal position from the right */
    width: 300px; 
    height: auto; 
    z-index: 7; 
    transition: transform 0.3s ease; 
}

.resume:hover {
    transform: scale(1.1); 
}

/* #shelf4 { 
    padding-left: 500px;
    top: 400px;
} */

.picture {
    position: absolute;
    top: -40px; /* Adjust the vertical position as needed */
    left: 67%; /* Center the image horizontally */
    transform: translateX(-50%);
    width: 500px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the image's aspect ratio */
    z-index: 2; /* Place it above the shelves */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.picture:hover {
    transform: translateX(-50%) scale(1.1); 
}

.shelf-text {
    position: absolute;
    top: 1px; 
    left: 7%; /* Adjust the left position to match the corresponding shelf */
    color: #333; /* Text color */
    font-size: 45px; /* Adjust the font size as needed */
    /* font-weight: 10; */
}

#content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.golf-clubs {
    position: fixed;
    bottom: -55px; /* Adjust the vertical position from the bottom */
    right: -260px; /* Adjust the horizontal position from the right */
    width: 700px; 
    height: auto; 
    z-index: 3; 
    transition: transform 0.3s ease;
}

.golf-clubs:hover {
    transform: scale(1.1); 
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}

section {
    padding: 30px;
    background-color: #fff;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.about-me {
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    text-align: justify; /* Justify text for a clean look */
    font-size: 1.2em; /* Adjust the font size for readability */
    line-height: 1.6; /* Adjust line height for better spacing */
    color: #333; /* Text color */
}

.frame {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    /* margin: 0 auto; */
}

.swiper {
    width: 60%;
    height: 80vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #f6eee3; /* Add background color for visual separation */
    padding: 10px; 
}

.social-icons a {
    margin-right: 50px; 
    text-decoration: none;
}

.social-icons img {
    width: 50px; 
    height: 50px; 
    transition: transform 0.3s ease; 
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

